#DealDrop, #PartDrop{
    height:100px;
    overflow-y:auto;
    line-height:1.8;
}
.selected {
    background-color: #83bbe5;
    opacity:0.5;
}

.drop {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.dropHeader {
    justify-content: space-around;
    background-color: #3187bf;
    font-weight: bold;
}

.dropRow {
    display: flex;
}

.dropCell {
}
.backet {
    position:relative;
}
#DealDrop .dropCell {
    width: 33%;
}
.dropRow:nth-child(n + 2):hover {
    background-color: #83bbe5;
    opacity: 0.5;
    cursor: pointer;
}
input[type=number] {
    width:70%;
}

#PartDrop > .dropRow:nth-child(n + 2):hover {
    background-color: #fff;
}

.dropHeader > .dropCell {
    flex-basis: 22%;
    text-align: center;
}
    .dropHeader > .dropCell :last-child {
        flex-basis:10%;
    }

